* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 30px 20px;
  background-color: #ff00ff;
  display: flex;
  justify-content: flex-end;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #ffb6c1;
}

.header > div:first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.main > .box1 {
  width: 300px;
  background-color: #98fb98;
}

.main > .box2 {
  max-width: 700px;
  padding: 20px;
  background-color: #32cd32;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.box2 > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #ffff66;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #6699ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: #ccffff;
}